#js-calculator {
  margin: auto;
  margin-top: 1.3rem;
  margin-bottom: 1rem;
  width: 34rem;
  background: lightgreen;
  border: 2px lightgreen solid;
  border-radius: 30px;
  padding: 1rem;
  justify-content: center;
  text-align: center;
}

#title {
  padding-bottom: 0.3em;
  font-size: 2em;
  font-weight: bold;
  color: blue;
}

#displayComplete {
  display: block;
  margin: auto;
  width: 28rem;
  background: black;
  padding-right: 0.9rem;
  text-align: right;
  color: blue;
  font-family: monospace;
  font-size: 3rem;
  font-weight: bold;
}

#displayFormula {
  font-size: 3rem;
  color: orange;
}

#numPad {
  margin: auto;
  padding: 1em;
  padding-top: 1.5em;
  width: 250px;
}

.btn {
  width: 5.5rem;
  height: 6.7rem;
}

.btn-primary {
  font-size: 4.5rem;
}

#clear {
  width: 100px;
}

#content {
  text-align: center;
}

body {
  background-image: url("https://images.unsplash.com/photo-1528082992860-d520150d6f6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjQ5ODZ9&auto=format&fit=crop&w=934&q=80");
  width: 100%;
  height: 100%;
}

#backwards {
  width: 130px;
  text-decoration: none;
}

#backwards a {
  color: white;
  font-family: sans-serif;
}

.btn-primary {
  font-family: monospace;
  font-size: 4.5rem;
}

@media only screen (min-width: 800) {

  #js-calculator {
    width: 60rem;
    padding: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    text-align: center;
  }

  #title {
    padding-bottom: 0.5em;
    font-size: 3em;
  }

  #displayComplete {
    display: block;
    margin: auto;
    width: 55rem;
    background: black;
    padding-right: 1.2rem;
    text-align: right;
    font-size: 4rem;
  }

  #displayFormula {
    font-size: 4rem;
  }

  #numPad {
    padding: 1.5em;
    padding-top: 12em;
    width: 40rem;
  }

  .btn {
    width: 8rem;
    height: 10rem;
  }

  .btn-primary {
    font-size: 7rem;
  }

  #clear {
    width: 16rem;
  }

  .btn-primary {
    font-size: 7rem;
  }
}
